/*
Bismillahir Rahmanir Rahim
Nafis Chowdhury
People Management Project
Friends.css
03/15/2020
*/





.user-container{
    display: flex;
}

.people-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgrey;
}